body {
    padding-top: 6%;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    overflow: hidden;
    background-color: #f8f8f0;
    font-family: PingFang SC,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);    
}
#loading {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition: 1s;
    width: 25rem;
    animation: loading 1s backwards;
}
@keyframes loading {
    from{opacity: 0}
    to{opacity: 1}
}
#loading p,#loading img{
    display: inline-block;
}
#loading p {
    color: #8e6c44;
    margin: 0;
    line-height: 3rem;
    font-weight: 300;
}
#content {
    transition: 1s;
    opacity: 0;
}

.navbar {
    margin:  0 auto;
    width: 60rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbutton {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 12rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.navbutton .navicon{
    z-index: 3;
    position: absolute;
    top: 1rem;
    left: 3rem;
    width: 1rem;
    fill: #b8c9ce;
}
.navbutton .navicon2{
    z-index: 3;
    position: absolute;
    top: 1.2rem;
    left: 3rem;
    width: 1rem;
    fill: #b8c9ce;
}
.navbutton .navspan{
    z-index: 3;
    position: relative;
    left: 5rem;
    color: #b8c9ce;
    font-size: 1rem;
    line-height: 3rem;
}
.navactive .navspan {
    font-weight: 600;
    color: white;
}
.navactive .navicon,.navactive .navicon2{
    fill: white;
}
.navbutton .navbg{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 12rem;
    height: 3rem;
    border-radius: 1.5rem;
}
.navbg1{
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.navbg2{
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
.navbg3{
    background-image: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
}
.navbg4{
    background-image: linear-gradient(-225deg, #7DE2FC 0%, #B9B6E5 100%);
}

.navleft-enter-active,.navleft-leave-active,.navright-enter-active,.navright-leave-active{
    transition: all 1s;
}
.navleft-enter{
    transform: translateX(100%);
    opacity: 0;
}
.navleft-leave-to{
    transform: translateX(-100%);
    opacity: 0;
}
.navright-enter{
    transform: translateX(-100%);
    opacity: 0;
}
.navright-leave-to{
    transform: translateX(100%);
    opacity: 0;
}

.pages {
    position: relative;
    margin: 0 auto;
    padding-top: 3rem;
    width: 60rem;
    height: 33rem;
    overflow: hidden;
}
.page {
    position: absolute;
    width: 60rem;
    height: 30rem;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.pages .pagecontent1 {
    overflow-y: scroll;
    width: 58rem;
    height: 28rem;
}
.pages .pagecontent2 {
    width: 58rem;
    height: 28rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pages .pagecontent2>div {
    width: 28rem;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pages .pagecontent2 .abicon{
    background-color: blue;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
}
.pages .pagecontent2 .abinfo{
    width: 20rem;
    height: 5rem;
}
.pages .pagecontent2 .abinfo h2{
    margin: 0;
    color: #5998ad;
    font-size: 1.3rem;
}
.pages .pagecontent2 .abinfo p{
    margin: 0;
    color: #85a6b1;
    font-size: 1rem;
}
@keyframes abifade {
    from{opacity: 0};
    to{opacity: 1}
}
.pages .ability1 {
    animation: abifade 1s backwards .2s;
}
.pages .ability2 {
    animation: abifade 1s backwards .3s;
}
.pages .ability3 {
    animation: abifade 1s backwards .4s;
}
.pages .ability4 {
    animation: abifade 1s backwards .5s;
}
.pages .ability5 {
    animation: abifade 1s backwards .6s;
}
.pages .ability6 {
    animation: abifade 1s backwards .7s;
}
.pages .ability1 .abicon{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    box-shadow: 5px 5px 25px rgba(254, 212, 75, 0.4);
}
.pages .ability2 .abicon{
    background-image: linear-gradient(to right, #f5576c 0%,  #f093fb 100%);
    box-shadow: 5px 5px 25px rgba(240, 147, 251, 0.4);
}
.pages .ability3 .abicon{
    background-image: linear-gradient(to right, #0ba360 0%, #3cba92 100%);
    box-shadow: 5px 5px 25px rgba(60, 186, 14, 0.4);
}
.pages .ability4 .abicon{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    box-shadow: 5px 5px 25px rgba(56, 249, 215, 0.4);
}
.pages .ability5 .abicon{
    background-image: linear-gradient(to right, #8989ba 0%, #8989ba 52%, #a7a6cb 100%);
    box-shadow: 5px 5px 25px rgba(137, 137, 186, 0.4);
}
.pages .ability6 .abicon{
    background-image: linear-gradient(to right, #ff0844 0%, #ffb199 100%);
    box-shadow: 5px 5px 25px rgba(255, 177, 153, 0.4);
}
.pages .abicon span{
    display: block;
    font-size: 5rem;
    position: relative;
    top: -1rem;
    transform: rotate(20deg);
}

#page3 {
    background: none;
    box-shadow: none;
}
.pages .pagecontent3 {
    overflow-y: scroll;
    width: 60rem;
    height: 28rem;
}
.pages .pagecontent3 span {
    color: #407aad;
    display: block;
    font-size: 3rem;
    margin-bottom: 2rem;
}
.pages .pagecontent3 span::before {
    display: inline;
    content: '#';
    color: #ff367f;
}
.pages .pagecontent3 .works {
    overflow: hidden;
    margin-bottom: 3rem;
    width: 58rem;
    height: 13rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.pages .pagecontent3 .works img {
    display: inline-block;
    width: 40rem;
    height: 13rem;
    background-color: greenyellow;
}
.pages .pagecontent3 .works>div {
    float: right;
    width: 18rem;
    height: 13rem;
}
.workinfo5 {
    background-color: #010005;
}
.workinfo5 h2,.workinfo5 p {
    color: white;
    font-weight: 300;
}

#page4 {
    background: none;
    box-shadow: none;
}
.pages .pagecontent4 {
    width: 60rem;
    height: 28rem;
}
.pages .pagecontent4 .mylinks {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    height: 23rem;  
}
.pages .pagecontent4 .mylinks a {
    text-decoration: none;
}
.pages .pagecontent4 .mylinks .link {
    width: 18rem;
    height: 23rem;
    border-radius: 1.5rem;
}
.pages .pagecontent4 .mylinks .link .linkicon {
    width: 18rem;
    height: 17rem;
}
.pages .pagecontent4 .mylinks .link .linkinfo {
    width: 18rem;
    height: 6rem;
    text-align: center;
}
.pages .pagecontent4 .mylinks .link .linkinfo h2 {
    font-weight: 300;
    color: white;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}
.pages .pagecontent4 .mylinks .link .linkinfo p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    font-size: 1rem;
}
.pages .pagecontent4 .mylinks .link1 {
    background-image: linear-gradient(60deg, #d183ff 0%,#6db9f0 50%, #0aefe2 100%);
    box-shadow: 5px 10px 25px rgba(100, 190, 239, 0.3);
}
.pages .pagecontent4 .mylinks .link2 {
    background-image: linear-gradient(60deg, #ff599e 0%, #f9748f 19%, #ffab68 100%);
    box-shadow: 5px 10px 25px rgba(255, 157, 154, 0.3);
}
.pages .pagecontent4 .mylinks .link3 {
    background-color: rgba(255, 255, 255, 0.5);
}
.pages .pagecontent4 .otherlinks {
    display: flex;
    justify-content: space-between;
    width: 60rem;
    height: 3rem;
    margin-top: 2rem;
}
.pages .pagecontent4 .otherlinks a {
    text-align: center;
    text-decoration: none;
    line-height: 3rem;
    font-size: 1rem;
    color: rgb(160, 160, 160);
    width: 18rem;
    height: 3rem;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


.pageup-enter-active,.pageup-leave-active,.pagedown-enter-active,.pagedown-leave-active{
    transition: all 1s;
}
.pageup-enter{
    transform: translateY(100%);
    opacity: 0;
}
.pageup-leave-to{
    transform: translateY(-100%);
    opacity: 0;
}
.pagedown-enter{
    transform: translateY(-100%);
    opacity: 0;
}
.pagedown-leave-to{
    transform: translateY(100%);
    opacity: 0;
}


.fade-enter-active,.fade-leave-active,.fadeup-enter-active,.fadeup-leave-active,.fadedown-enter-active,.fadedown-leave-active,.fadeleft-enter-active,.fadeleft-leave-active,.faderight-enter-active,.faderight-leave-active{
    transition: all .5s;
}
.fadeup-enter{
    transform: translateY(100%);
    opacity: 0;
}
.fadedown-leave-to{
    transform: translateY(-100%);
    opacity: 0;
}
.fadedown-enter{
    transform: translateY(-100%);
    opacity: 0;
}
.fadeup-leave-to{
    transform: translateY(100%);
    opacity: 0;
}
.fadeleft-enter{
    transform: translateX(100%);
    opacity: 0;
}
.faderight-leave-to{
    transform: translateX(-100%);
    opacity: 0;
}
.faderight-enter{
    transform: translateX(-100%);
    opacity: 0;
}
.fadeleft-leave-to{
    transform: translateX(100%);
    opacity: 0;
}
.fade-enter,.fade-leave-to{
    opacity: 0;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: red 1px solid;
    border-top: none;
    width: 110rem;
    height: 55rem;
    overflow: hidden;
}
.bg {
    position: absolute;
    width: 110rem;
    height: 55rem;
}
.bg1 {
    animation:  huerotate 10s linear infinite;
}
.bg1 .pawprint1{
    position: absolute;
    top: -3rem;
    left: 3rem;
    width: 35rem;
}
.bg1 .pawprint1 .cls-1{
    fill: #ffefe5;
}
.bg1 .pawprint2{
    position: absolute;
    bottom: 10rem;
    right: 10rem;
    width: 25rem;
}
.bg1 .pawprint2 .cls-1{
    fill: #eeffff;
}

@keyframes huerotate{
    from{filter: hue-rotate(0)}
    to{filter: hue-rotate(360deg)}
}
.bg2 {
    animation:  huerotate 10s linear infinite;
}
.bg2 .span1{
    position: absolute;
    top: 3rem;
    left: -3rem;
    font-size: 10rem;
    color:#ece7ff;
}
.bg2 .span2{
    position: absolute;
    top: -4rem;
    right: 6rem;
    font-size: 10rem;
    color:#bcf7ff;
}
.bg2 .span3{
    position: absolute;
    bottom: 8rem;
    right: -4rem;
    font-size: 10rem;
    color:#ffbee2;
}
.bg2 .span4{
    position: absolute;
    bottom: 4rem;
    left: 15rem;
    font-size: 10rem;
    color:#e8ffbd;
}
.bg2ear svg .cls-1 {
    fill: #f7931e;
}
.bg2ear svg .cls-2 {
    fill: #f15a24;
}
.bg2paws svg .cls-1 {
    fill: #f7931e;
}
.bg2paws svg .cls-2 {
    fill: #ffb660;
}
.bg2ear {
    position: absolute;
    top: 4rem;
    left: 37rem;
    width: 35rem;
    animation: bg2ear 1s backwards 1s;
}
.bg2paws {
    position: fixed;
    top: 32rem;
    left: 50%;
    transform: translateX(-50%);
    width: 68rem;
}
#leftpaw {
    animation: leftpaw 1s backwards 1s;
}
#rightpaw {
    animation: rightpaw 1s backwards 1s;
}
@keyframes rightpaw {
    from{
        opacity: 0;
        transform: translateX(100%) 
    }
    to{
        opacity: 1;
        transform: translateX(0) 
    }
}
@keyframes leftpaw {
    from{
        opacity: 0;
        transform: translateX(-100%) 
    }
    to{
        opacity: 1;
        transform: translateX(0) 
    }
}
@keyframes bg2ear {
    from{
        opacity: 0;
        top: 7rem;  
    }
    to{
        opacity: 1;
        top: 4rem;
    }
}

.bg3 .ball1{
    position: absolute;
    top: -3rem;
    left: 3rem;
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
    background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
}
.bg3 .ball2{
    position: absolute;
    top: -3rem;
    right: 2rem;
    width: 18rem;
    height: 18rem;
    border-radius: 9rem;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
.bg3 .ball3{
    position: absolute;
    bottom: 4rem;
    right: 14rem;
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
    background-image: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
}
.bg3 .ball4{
    position: absolute;
    bottom: 6rem;
    left: 12rem;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
}

.cat .cls-1 {
    fill: #f7931e;
}
.cat .cls-2 {
    fill: #ffa64d;
}
.cat .cls-3 {
    fill: #ffd3ab;
}
.cat .cls-4 {
    fill: #fbb03b;
}
.cat .cls-5 {
    fill: #fff;
}
.cat .cls-6 {
    fill: #c1272d;
}
.cat .cls-7 {
    fill: #f15a24;
}
#wool .cls-1,#woolline .cls-1 {
    fill: #ffecc6;
}
#wool .cls-2 {
    fill: #fcd39c;
}
.bg4 .leftcat {
    width: 100rem;
    position: absolute;
    left: -30rem;
}
.bg4 #wool {
    width: 30rem;
    position: absolute;
    top: 10rem;
    right: 10rem;
}
.bg4 #woolline {
    width: 15rem;
    position: absolute;
    right: 5rem;
}